@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}
body {
	font: 1rem/1.2 'RobotoLight', Arial, sans-serif; /*1.2=lineheight*/
	margin: 0;
	color: #000;
	background: #fff;
	/*font: 16px/18px Arial, helvetica, sans-serif;*/
}
	/*font: px georgia, serif;
	font: px "times new roman", times, serif;
	font: 15px/17px "SegoeWPNLight" arial, helvetica, sans-serif;
	/*font: px tahoma, geneva, sans-serif;
	font: px "trebuchet ms", helvetica, sans-serif;
	font: px verdana, geneva, sans-serif;
	font: px "ms serif", "new york", serif;
	font: px "arial black", gadget, sans-serif;
	font: px "lucida sans", unicode, "lucida grande", sans-serif;*/

/* General reset */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
*,*:after,*:before {box-sizing: border-box;}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	border-style: none;
	display: block;
}
input, select, textarea {
	vertical-align: middle;
	font: 100% arial, helvetica, sans-serif;
	outline: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {text-decoration: none;}
h1, h2, h3, h4, h5, p {margin: 0;}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h5 {
	font-size: 0.875rem;
	text-transform: uppercase;
	font-family: 'RobotoBold';
	text-align: center;
	padding: 0 0 35px;
}

/*the beginning of the blue-banner block*/
.banner {
	background: url(../img/bg-banner.png) no-repeat 0 0;
	background-size: cover;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 35px 0 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; /*ставится родителю тех элементов, которые надо флотать влево-врпаво*/
	justify-content: space-around; /*позволяет расположить эелементы необходимым образом*/
	align-items: center;
}
.banner__text {
	max-width: 485px;
	text-align: center;
	color: #fff;
}
.text__core {
	font-size: 1.5rem;
	text-transform: uppercase;
}
.text__big {
	font-size: 3rem;
	padding: 9px 0 32px; 
	display: inline-block;
}
.text__yellow {
	font-size: 1.125rem;
	font-family: 'RobotoRegular';
	color: #f7cb00;
}
/*the end of the blue-banner block*/

/*the beginning of the start section*/
.start {background: url(../img/bg-start.jpg) no-repeat 50% #f0f0f0;}
.start .wrapper {
	display: block;
	padding: 77px 0 0;
}
.header, .header__nav, .start__jambler {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; /*ставится родителю тех элементов, которые надо флотать влево-врпаво*/
	justify-content: space-between; /*позволяет расположить эелементы необходимым образом*/
}
.header, .start__jambler {
	padding-bottom: 85px;
    align-items: flex-end;
}
.header__logo {
	display: inline-block;
	width: 136px;
	height: 33px;
	background: url(../img/headerlogo.png) no-repeat 0 0;
	text-indent: -30000px
}
.nav__list ul li {
	display: inline-block;
	margin: 0 36px 0 0;
}
.nav__item {
	font-size: 0.875rem;
	font-family: 'RobotoRegular';
	display: block;
	padding: 7px 0;
}
.yellow, .green {
	border-radius: 3px;
	text-align: center;
}
.yellow {
	width: 193px;
	background: #f7cb00;
	margin: 0 10px 0 0;
}
.green {
	width: 75px;
	background: #2c715b;
	color: #fff;
	margin: 0 -5px 0 0;
}
.mobile-menu {
	display: none;
	width: 75px;
	height: 30px;
	padding: 5px 0;
}
.start__jambler {
	padding: 100px 0 80px;
}
.jambler__play {
	max-width: 335px;
}
.title {
	padding: 14px 0 60px;
	line-height: 1.5;
	position: relative;
}
.title:before {
	content: "";
	width: 40px;
    height: 3px;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
}
.bold {font-family: 'RobotoBold';}
.jambler__play .green {
	width: 200px;
	padding: 15px 0;
}
/*the end of the start section*/

/*the beginning of the order section*/
.order__img, .order__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.order__list {
	max-width: 400px;
	padding: 115px 0 0;
}
.order__list .title {padding: 14px 0 91px;}
.order__list .title:after {
	content: "";
	position: absolute;
	top: -45px;
	right: 45px;
	background: url(../img/list.png) no-repeat 0 0;
	width: 40px;
	height: 109px;
}
.order__list .title.one:after {
	right: 75px;
}
.order__list .title.two:after {
	background: url(../img/list.png) no-repeat -42px 0;
	width: 73px;
}
.order__list .title.three:after {
	background: url(../img/list.png) no-repeat -113px 0;
	width: 69px;
}
.order__list .title.four:after {
	background: url(../img/list.png) no-repeat -182px 0;
	width: 78px;
}
/*the end of the order section*/

/*the beginning of the slider section*/
.carousel {
	max-width: 1360px;
	margin: 0 auto;
	box-sizing: content-box;
}
.carousel__slide {
	position: relative; 
}
.carousel__text {
	position: absolute;
	top: 45px;
	left: 80px;
}
/*the end of the slider section*/

/*the beginning of the participant section*/
.participant .wrapper {
	align-items: flex-start;
	padding: 160px 0 80px;
}
.participant__invite {
	max-width: 380px;
	padding: 40px 0 0;	
}
.invite__from {padding: 40px 0;}
.button {
	display: inline-block;
	width: 280px;
	margin: 0 15px 0 0;
	padding: 20px 30px 20px 75px;
	color: #fff;
	border-radius: 3px;
	font-family: 'RobotoBold';
	font-size: 0.875rem;
	text-transform: uppercase;
	text-align: center;
}
.facebook {background: url(../img/fb.png) no-repeat 20px 16px #3a5795;}
.google {background: url(../img/google.png) no-repeat 20px 16px  #d34836;}
.vk {background: url(../img/vk.png) no-repeat 20px 16px #5c82ab;}
.participant__text {
	max-width: 410px;
}
div.participant__invite {order: 1;}
div.participant__text {order: 2;}
/*the end of the participant section*/

/*the beginning of the playing section*/
.playing .wrapper {
	justify-content: space-between;
	align-items: flex-start;
	padding: 60px 0 80px;
}
.playing__text {
	max-width: 305px;
}
.playing__table {
	max-width: 720px;
}
.table__row {
	padding: 10px 0 10px 40px;
	border-top: 1px solid #e5e5e5;
	background: url(../img/ball.png) no-repeat 10px 17px;
	align-items: center;
}
.table__row, .records {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; /*ставится родителю тех элементов, которые надо флотать влево-врпаво*/
	justify-content: space-around; /*позволяет расположить эелементы необходимым образом*/
}
.left-part {
	margin: 0 10px 0 0;
}
.records {padding: 14px 0 0;}
.marine {
    font-family: 'RobotoRegular';
	font-size: 0.75rem;
	color: #2c715b;
}
.records__item {padding: 0 60px 0 0;}
.grey {
    font-family: 'RobotoRegular';
	font-size: 0.625rem;
	color: #999999;
}
.red {
    font-family: 'RobotoRegular';
	font-size: 0.75em;
	color: #c34c4c;
}
.black {
    font-family: 'RobotoRegular';
	font-size: 0.75em;
	color: #000;
}
.right-part .green {width: 120px;}
.results {
	text-align: center;
	background: none;
}
.results p {padding: 16px 0;}
/*the end of the playing section*/

/*the beginning of the registration section*/
.account {
	background: #f0f0f0;
}
.account .wrapper {
	align-items: flex-end;
	padding: 168px 0 128px;
}
.account__new {
	max-width: 405px;
}
.account__new p {padding: 14px 0 15px;}
.row {margin: 34px 0;}
input {
	display: block;
	width: 400px;
	height: 45px;
	padding: 0 15px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #999999;
    font-family: 'RobotoRegular';
	font-size: 1.125rem;
	color: #999999;
}
.row:last-child {
	padding: 24px 0 0 48px;
}
.submit {
	width: 200px;
	margin: 0;
	border: none;
}
.account__network {
	max-width: 305px;
	padding: 0 0 20px 0;
}
.account__network .button {
	width: 200px;
    font-family: 'RobotoRegular';
	font-size: 1.125rem;
	text-transform: capitalize;
}
.account__network .facebook, 
.account__network .google, 
.account__network .vk {
	background-image: none;
	margin: 10px 0;
	padding: 15px 0;
}
/*the end of the registration section*/

/*the beginning of the footer*/
.footer {
	background: #f0f0f0;
	border-top: 1px solid #d8d8d8
}
.footer .wrapper {
	justify-content: space-between;
	padding: 20px 0;
}
.footer__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; /*ставится родителю тех элементов, которые надо флотать влево-врпаво*/
	justify-content: space-around; /*позволяет расположить эелементы необходимым образом*/
}
.footer__info {
	/*width: 50%;*/
}
.info__item {padding: 0 100px 0 0;}
.footer__logo {
	display: block;
	padding: 0 0 35px;
}
.info__rules a {display: inline-block; padding: 0 10px 0 0;}
h4 {
    font-family: 'RobotoRegular';
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #9a9a9a;
	padding: 0 0 23px;
}
.social__network {
	text-align: right;
	margin: 0 0 30px;
}
.sprite {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: 3000px;
	background: url(../img/footer-sprite.png) no-repeat 0 0;
	margin: 0 5px;
}
.g-footer {background-position: -30px 0;}
.vk-footer {background-position: -60px 0;}
.social__downloads {
	max-width: 270px;
}
.btn-footer {
	display: inline-block;
	width: 130px;
	margin: 0;
	background: url(../img/btn-download.png) no-repeat 0 0;
	text-indent: -30000px;
}
.btn-footer:last-child {margin: 0;}
.gplay {background: url(../img/g-play.png) no-repeat 0 0;}
.footer-mobile {display: none;}
/*the end of the footer*/


@media screen and (max-width: 1250px) {
	.start .wrapper {padding: 77px 25px 0;}
	.playing .wrapper {padding: 80px 25px 60px;}
	.footer .wrapper {padding: 20px 25px;}
}
@media screen and (max-width: 1000px) {
	.left-part {margin: 0;}
	.records__item {padding: 0 40px 0 0;}
	.participant .wrapper {padding: 80px 0 20px;}
	.account .wrapper {padding: 80px 0;}
	.info__item {padding: 0 60px 0 0;}
}
@media screen and (max-width: 900px) {
	.start {background: #f0f0f0;}
	.left-part {margin: 0 15px 0 0;}
	.records__item {padding: 0 20px 0 0;}
	.right-part .green {width: 100px;}
}
@media screen and (max-width: 860px) {
	.banner .wrapper {padding: 35px 25px 30px;}
	.banner__text {max-width: 440px}
	.text__core {font-size: 1.3rem;}
	.text__big {font-size: 2rem;}
	.start .wrapper {padding: 50px 25px 0;}
	.header {padding: 0 0 40px;}
	.start__jambler  {padding: 60px 0 80px;}
	.order__list {padding: 80px 0 0;}
	.order__list .title {padding: 14px 0 50px;}
	.participant .wrapper {padding: 80px 25px 20px;}
	.participant__invite {padding: 0;}
	.invite__from {padding: 20px 0;}
	.playing .wrapper {
		padding: 40px 25px 20px; 
		display: block;
	}
	.playing__text {margin: 0 auto;}
	.playing__table {
		max-width: 620px;
		margin: 0 auto;
	}
	.account .wrapper {
		padding: 40px 25px;
		justify-content: space-between;
	}
	.account__new {max-width: 300px;}
	input {width: 300px;}
	.account__network {padding: 0 0 24px;}
	.info__item {padding: 0 40px 0 0;}
}
@media screen and (max-width: 740px) {
	.header {display: block;}
	.header__logo {padding: 0 0 20px;}
	.start__jambler  {padding: 20px 0 40px;}
	.order .wrapper {padding: 50px 0 20px;}
	.order__img {display: none;}
	.order__list {
		max-width: 450px;
		padding: 40px 0 0;
	}
	.order__list .title {padding: 14px 0 90px;}
	.invite__from span {display: none;}
	.participant__text {max-width: 300px;}
	.info__item {padding: 0 20px 0 0;}
}
@media screen and (max-width: 640px) {
	.banner .wrapper {padding: 15px 25px;}
	.banner__logo img {
		width: 100%;
		height: auto;
	}
	.text__core {font-size: 1.125rem;}
	.text__big {padding: 9px 20px;}
	.text__yellow {font-size: 0.875rem;}
	.start .wrapper {padding: 30px 25px;}
	.header {
		display: flex; 
		align-items: center;
		padding: 0 0 20px;
	}
	.header__logo {
		width: 32px;
		padding: 0 25px 0 0;
		background: url(../img/logo-mobile.png) no-repeat 0 0;}
	.header__nav {align-items: center;}
	.header__nav ul li {margin: 0;}
	.participant .wrapper {display: block;}
	.account .wrapper {display: block;}
	.account__new, .account__network {margin: 0 auto;}
	.participant__text, .participant__invite {margin: 0 auto;}
	.participant__invite {max-width: 280px;}
	.account__new {padding: 0 0 40px;}
	.social__network span {display: none;}
	.btn-footer {display: block;}
}
@media screen and (max-width: 600px) {
	.start__jambler {display: block;}
	.jambler__play {margin: 0 auto 60px;}
	.jambler__what, .jambler__play .green {margin: 0 auto;}
	.jambler__video {
		max-width: 280px;
		margin: 0 auto;
		}
	.carousel__text {left: 60px;}
	.row:last-child {padding: 24px 10px 0;}
	.account__network .button, .submit {
		width: 280px;
	}
	.account__network .button {
		margin: 10px;
	}
	.footer .wrapper {display: block;}
	.footer__social {
		display: flex; 
		justify-content: space-around;
		padding: 30px 0 0;
	}
	.social__downloads {max-width: 100%;}
	.btn-footer {display: inline-block; margin: 0 10px 0 0;}
}
@media screen and (max-width: 480px) {
	.banner {display: none;}
	.mobile-menu {display: block;}
	a.mobile-menu {order: 1;}
	a.header__logo {order: 2;}
	div.header__nav {order: 3;}
	.green-480 {
		color: #2c715b;
		background: url(../img/green480.png) no-repeat 0 50%;
		padding: 7px 0 7px 18px;
	}
	.start__jambler {padding: 100px 0 0;}
	.jambler__play .green {width: 280px;}
	.order__list {padding: 40px 25px 0;}
	.carousel__text {left: 20px;}
	.participant__text {max-width: 300px;}
	.playing .wrapper {padding: 40px 0 20px;}
	.table__row {background-position: 20px 9px;}
	.right-part .green {
		text-indent: -30000px;
		background: transparent;
		position: relative;
		width: 15px;
	}
	.right-part .green:after {
		content: "";
		display: block;
		border-left: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
		border-radius: 0;
		width: 15px;
		height: 15px;
		transform: rotate(-135deg);
	}
	.hidden-480 {display: none;}
	.results {display: none;}
	.nav__list, .yellow {display: none;}
	.footer .dekstop {display: none;}
	.footer-mobile {display: block;}
	.footer-mobile .wrapper {padding: 20px 0;}
	.mobile__top {
		padding: 0 25px 30px 25px; 
		border-bottom: 1px solid #d8d8d8;
	}
	.top__icon, .mobile__top .info__item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex; /*ставится родителю тех элементов, которые надо флотать влево-врпаво*/
		justify-content: space-between; /*позволяет расположить эелементы необходимым образом*/
	}
	.mobile__top .info__item {
		justify-content: flex-start; /*позволяет расположить эелементы необходимым образом*/
	}
	.mobile__top .info__item ul li {
		display: inline-block;
		padding: 0 20px 0 0;
	}
	.mobile__top h4 {
		padding: 0;
	}
	.paycards {margin: 35px 0 0;}
	.paycards .sprite {	
		background: url(../img/mobile-sprite.png) no-repeat 0 0;
		width: 50px;
		margin: 0 30px 0 0;
	}
	.paycards .sprite:last-child {margin: 0;}
	.paycards .mastercard {background-position: -50px 0;}
	.paycards .skrill {background-position: -100px 0;}
	.paycards .neteller {background-position: -150px 0;}
	.paycards .paypal {background-position: -200px 0;}
	.mobile__bottom {padding: 28px 25px 0 25px;}
	.mobile__bottom  .social__downloads {
		max-width: 70%;
		margin: 0 auto 30px;
	}
	.top-return {
		max-width: 150px;
		margin: 0 auto;
	}
	.top-return a {
		background: url(../img/arrow.png) no-repeat 0 0;
		padding: 5px 0 5px 40px;
		color: #007259;
	}
}
@media screen and (max-width: 460px){
	.mobile__bottom  .social__downloads {
		max-width: 80%;
	}
	.paycards .sprite {
		margin: 0 20px 0 0;
	}
}
@media screen and (max-width: 430px){
	.table__row {background-position: 15px 14px;}
}
@media screen and (max-width: 415px){
	.mobile__bottom  .social__downloads {
		max-width: 90%;
	}
	.paycards .sprite {
		margin: 0 10px 0 0;
	}
}
@media screen and (max-width: 400px){
	.mobile__top .info__item ul li {
		padding: 0 10px 0 0;
	}
}
@media screen and (max-width: 390px) {	
	.records__item:last-child {display: none;}
	.hidden-390 {display: none;}
	.left-part {margin: 0;}
	.table__row {background-position: 10px 14px;}
	.account__network .button {
		margin: 10px 0;
	}
}
@media screen and (max-width: 395px){
	.mobile__bottom  .social__downloads {
		max-width: 100%;
		margin: 0;
	}
	.mobile__top {padding: 0 20px 30px 20px;}
	.paycards .sprite {
		margin: 0 5px 0 0;
	}
}
@media screen and (max-width: 350px){
	.mobile__top .info__item ul li {
		padding: 0 6px 0 0;
	}
}
@media screen and (max-width: 320px) {
	.order__list .title:after {right: 0;}
	.order__list .title.one:after {right: 15px;}
	.playing__text {max-width: 280px;}
	.row:last-child {
		padding: 24px 0 0;
	}
	input {width: 280px;}
}