// Colors
$brand-color: #2c715b;
$brand-color-dark: #od221b;

$gray-dark: #000;
$gray: #999;
$gray-lighter: #b2b2b2;
$gray-middle: #e5e5e5;
$gray-light: #f0f0f0;
$gray-xlight: #fff;

$alarm-color: #c34c4c;
$warning-color: #f7cb00;

$fb-color: #3a5795;
$google-color: #d34836;
$vk-color: #5c82ab;

// Font-family
$font-family-sans-serif: 'RobotoLight', Arial, Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-bold: 'RobotoBold';
$font-family-regular: 'RobotoRegular';

  // Font-size
$font-size-base: 1rem;

$font-size-smaller: 0.875rem;
$font-size-small: 0.75rem;
$font-size-xsmall: 0.625rem;

$font-size-larger: 1.125rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 3rem;
$font-size-xxlarge: 9.375rem;

// Line-height
$line-height-base: 1.45;
$line-height-smaller: 1.2;
$line-height-larger: 1.8;

// Border-radius
$border-radius-base: 3px;